<%= form_for @comment, :as => :comment, :url => saveComment_path( :path => params[:path]), :remote => true do |f| -%>
    <%= label :comment, :author, "Your name:" %> <%= f.text_field :author %>

    <%= label :comment, :author_mail , "Your mail address:" %>
    <%= f.text_field :author_mail %>
    <div class="hint">(you can also use <strong>name at domain dot com</strong>)</div>

    <%= fields_for @captcha do |captcha_fields| -%>
      <%= captcha_fields.label :actualValue, "Are you human? Please type #{@captcha.value}" %>
      <%= captcha_fields.text_field :actualValue %>
    <% end -%>
    
    <%= label :comment, :content, "Your comment:" %> <%= f.text_area :content, :cols => 40, :rows => 5 %>
    <br />
    <%= submit_tag "Send comment" , :class => "button" %>
    <% unless @comment.errors.empty? && @captcha.errors.empty? %>
      <ul class="formError">
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @captcha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>    
<% end -%>
<%= javascript_tag do -%>
  (function() {
    if ($('comment_author').value == '') { 
      $('comment_author').focus()
    } else {
      $('comment_content').focus()
    }
  })();
<% end -%>