<h1><%= @title %></h1>

<p class="edit_buttons">
  <input type="button" value="Cancel" class="button" id="cancelButton">
  <input type="button" value="Preview" class="button" id="previewButton">
  <% if !@mobile -%>
    <input type="button" value="Live Preview" class="button" id="livePreviewButton">
  <% end -%>
  <input type="button" value="Save" class="button" id="saveButton">
</p>
<div id="editmode">
  <% form_tag({}, {:id => "editform" })  do -%>
    <textarea id="editAreaId" name="content"><%= raw_content(@page) || boilerplate(@kind) %></textarea>
  <% end -%>
</div>
<div id="previewmode" style="display:none" class="preview"></div> 
<div id="errors"></div>
<script>
  function getContents() {
    return $('editAreaId').value;
  }

  var livePreviewWindow;  
  function livePreviewClosed() {  // invoked from the live preview window.
    livePreviewWindow = null;
    $('livePreviewButton').value = 'Live Preview';
  }

  <% if !@mobile -%>
  $('livePreviewButton').observe('click', function() {
    if (livePreviewWindow) {
      livePreviewWindow.close();
    } else {
      livePreviewWindow = window.open(
          '<%= livepreview_path(:path => params[:path]) %>',
          'borgLivePreviewWindow',
          'resizable=yes,scrollbars=yes');
      $('livePreviewButton').value = 'Stop Live Preview';
    }
  });
  <% end -%>
  
  $('previewButton').observe('click', function() {
    if ($('editmode').visible()) {
      new Ajax.Updater(
        'previewmode',
        '<%= preview_path( :path => params[:path], :cachebust => Time.now.to_f) %>', {
        parameters: $('editform').serialize(),
        onSuccess: function() {
          $('previewmode').show();
          $('editmode').hide();
          $('previewButton').value = "Edit";        
        },
        onFailure: function(transport) {
          $('errors').innerHTML = transport.responseText;
        },
        evalScripts: true
      });
    } else {
      $('previewmode').hide();
      $('editmode').show();
      $('previewButton').value = "Preview";
    }
  });
  
  $('cancelButton').observe('click', function() {
    if (livePreviewWindow) {
      livePreviewWindow.close();
    }   
    document.location.href = '<%= @cancel_url %>';
  });
  
  $('saveButton').observe('click', function() {
    var proceed = true;
    var url = '<%= save_path( :path => params[:path]) %>';
    if ($('editAreaId').value.length == 0) {
      proceed = confirm("Do you really want to delete the page?");
      url = '<%= delete_path( :path => params[:path]) %>';
    }
    
    if (proceed) {
      if (livePreviewWindow) {
        livePreviewWindow.close();
      }
      new Ajax.Request(url, {
        parameters: $('editform').serialize(),
        onSuccess: function(transport) {
          var resp = transport.responseJSON;

          if (resp.status == 'OK') {
            document.location.href = '<%= page_path( :path => params[:path]) %>';
          } else if (resp.status == 'DELE') {
            alert("The page has been deleted.");
            document.location.href = '<%= root_path %>';
          } else {
            $('errors').innerHTML = "Status: " + transport.status + ", Message: " + transport.message;
          }
        },
        onFailure: function(transport) {
            $('errors').innerHTML = transport.responseText;
        }
      });     
    }
  });
  
  Event.observe(window, 'unload', function() {
    if (livePreviewWindow) {
      livePreviewWindow.close();
    }
  });
</script>
