<h1><%= @title %></h1>

<p>
	<input type="button" value="Cancel" class="button" id="cancelButton">
	<input type="button" value="Preview" class="button" id="previewButton">
	<input type="button" value="Save" class="button" id="saveButton">
</p>
<div id="editmode">
	<% form_tag({}, {:id => "editform" })  do |f| -%>
		<textarea style="font-family: monospace; font-size: 120%; width: 95%; height: 400px;" id="editAreaId" name="content"><%= raw_content(@page) || boilerplate %></textarea>
	<% end -%>
</div>
<div id="previewmode" style="display:none"></div> 
<div id="errors"></div>
<div id="edit-intstructions">
  <p>
    Use <%= link_to "textile syntax", "http://redcloth.org/hobix.com/textile/" , :target => "_blank" %> to edit the contents of the page. <br />
    Additional extensions:
  </p>
  <ul>
    <li><tt># HEADER : Value</tt> on top, for file metadata and headers.</li>
    <li><tt>"Borg":[software/projects/borg.html]</tt> creates an internal link.</li>
    <li><tt>"Projects":{software/projects}</tt> create an internal link to a list page</li>
    <li><tt>"March":&lt;2008/03&gt;</tt> create a link to a blog section</li>
    <li><tt>"Tags":tags</tt> create a link to the tags page</li>
    <li><tt>!(articleimg float-left)http://www/thumb.jpg!:http://www/image.jpg</tt> for a thumbnailed and stiled image link</li>
    <li><tt>!(float-left)__CLIPART__!</tt> for a clip art replacement</li>
    <li>If you wanna date the article, either use a <tt>date</tt> header, or put the date in the article title, such as
      <tt>h1. Your date here: Your title here</tt>. A lot of formats are supported 
      via <a href="http://chronic.rubyforge.org/">Chronic</a>
      </li>
  </ul>
</div>
<script>
	$('previewButton').observe('click', function() {
		if ($('editmode').visible()) {
			new Ajax.Updater('previewmode', '<%= preview_path( :path => params[:path]) %>', {
				parameters: $('editform').serialize(),
				onSuccess: function() {
					$('previewmode').show();
					$('editmode').hide();
					$('edit-intstructions').hide();
					$('previewButton').value = "Edit";				
				},
				onFailure: function(transport) {
					$('errors').innerHTML = transport.responseText;
				}
			});
		} else {
			$('previewmode').hide();
			$('editmode').show();
			$('edit-intstructions').show();
			$('previewButton').value = "Preview";
		}
	});
	
	$('cancelButton').observe('click', function() {
	  document.location.href = '<%= @cancel_url %>';
	});
	
	$('saveButton').observe('click', function() {
	  var proceed = true;
	  var url = '<%= save_path( :path => params[:path]) %>';
	  if ($('editAreaId').value.length == 0) {
	    proceed = confirm("Do you really want to delete the page?");
	    url = '<%= delete_path( :path => params[:path]) %>';
	  }
	  
	  if (proceed) {
  	  new Ajax.Request(url, {
  	    parameters: $('editform').serialize(),
  	    onSuccess: function(transport) {
  	      var resp = transport.responseJSON;

  	      if (resp.status == 'OK') {
  	        document.location.href = '<%= page_path( :path => params[:path]) %>';
          } else if (resp.status == 'DELE') {
            alert("The page has been deleted.");
            document.location.href = '<%= root_path %>';
          } else {
            $('errors').innerHTML = "Status: " + transport.status + ", Message: " + transport.message;
          }
  	    },
  	    onFailure: function(transport) {
  					$('errors').innerHTML = transport.responseText;
  	    }
  	  });	    
	  }
	});
</script>
