<div id="site-actions">
	<p>
	<%= render :partial => "shared/login" %> |
	<%= link_to "Contact", borg(:contact_url) %> |
	<%= link_to "Site Map", :controller => :sitemap, :action => :view %> |
	<%= image_tag "borg/feed.png" , :style => "vertical-align: middle" %>
	<%= link_to "Feed", :controller => :list, :action => :blog, :format => :rss %> |
	<%= link_to "Home" , root_path %>
	</p>
</div>