<div class="comment">
	<p>
	<% if comment.author_mail -%>
		<%= gravatar(comment.author_mail) %>
	<% end -%>  
  <%= time_ago_in_words(File.new(comment.rpath).mtime) %> ago, 
	<% if comment.author -%>
		<% if comment.author_mail -%>
			<strong><a href="mailto:<%= comment.author_mail %>"><%= h(comment.author)%></a></strong> said:
		<% else -%>
			<strong><%= h(comment.author) %></strong> said:
		<% end -%>
	<% else -%>
		<% if comment.author_mail -%>
			<strong><a href="mailto:<%= comment.author_mail %>"><%= h(comment.author_mail) %></a></strong> said:	
		<% else -%>
			<strong>an anonymous coward</strong> said:
		<% end -%>
	<% end -%>  
	<br /><%= h(comment.content).gsub(/\n/,"<br />") %></p>
</div>