<span id="login">
  <% if session[:user_id] -%>
    Hello <span title="<%= session[:user_id].identity_url %>">
      <%= session[:user_id].nickname || session[:user_id].fullname %>
    </span>, 
    <%= link_to "Logout", { :controller => "login" , :action => "logout", :jumpto => request.fullpath },
                :id => 'logout_link',
                :remote => true %>
    <% if session[:user_id].is_editor -%>
      | <%= link_to "Upload", :controller => 'attach', :action => 'show' %>
      | <%= link_to "New page", :controller => 'edit', :action => 'new'%>
    <% end -%>
  <% else -%>
    <%= link_to "Login", login_path(:jumpto => @jumpto || request.fullpath) %>
  <% end -%>
</span>
