<meta name="Description" content="<%= borg(:meta)[:description] %>" />
<meta name="Keywords" content="<%= borg(:meta)[:keywords] %>" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="<%= borg(:meta)[:author] %>" />
<meta name="Robots" content="<%= borg(:meta)[:robots] %>" />
<link type="text/plain" rel="author" href="<%= url_for root_path %>humans.txt" />
<%= csrf_meta_tag %>
<% if @mobile -%>
  <meta name="viewport" content="width=device-width" />
<% end -%>

<%= javascript_include_tag "prototype", "rails", "application" %>
<%= yield :javascriptlibs %>

<% if borg(:css_template) == 'bigG' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<% elsif borg(:css_template) == 'kennedy' %>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Inconsolata' rel='stylesheet' type='text/css'>
<% end %>
<% if !@mobile -%>
  <%= stylesheet_link_tag(borg(:css_template)) %>
  <!-- Some IE specific hacks to fix the kennedy template -->
  <!--[if IE]>
    <style>
      .search input.button { text-indent: 0 !important; }
      .socialbuttons {opacity: 1;}
    </style>
  <![endif]-->
<% else -%>
  <%= stylesheet_link_tag(borg(:css_template) + "_mobile") %>
<% end -%>

<link rel="alternate" href="<%= url_for :controller => :list, :action => :blog, :format => :rss %>" type="application/rss+xml" title="Blog RSS" />
<link rel="alternate" href="<%= root_path + "comments.rss" %>" type="application/rss+xml" title="Comments RSS" />
<%= yield :head %>

<title><%= strip_tags(borg(:title)) %> :: <%= yield(:title).empty? ? "#{strip_tags(borg(:tagline))}" : yield(:title) %></title>
