<div id="site-actions">
	<ul id="site-actions-list">
  <li id="login">
	  <%= render :partial => "shared/login" %>
	</li>
  <% if session[:user_id] and session[:user_id].is_editor -%>
    <li id="upload_attachment"><%= link_to "Upload", :controller => 'attach', :action => 'show' %></li>
    <li id="create_new_page"><%= link_to "New page", :controller => 'edit', :action => 'new'%></li>
  <% end -%>	
  <%= yield :pageactions %>	
	<li><%= link_to "Contact", page_url(:path => borg(:contact_url)) %></li>
	<li><%= link_to "Site Map", :controller => :sitemap, :action => :view %></li>
	<li>
	  <%= image_tag "borg/feed.png" , :style => "vertical-align: middle" %>
	  <%= link_to "Feed", :controller => :list, :action => :blog, :format => :rss %>
	</li>
	</ul>
</div>