<%= content_for :title do -%>
  <%= @page.title %>
<% end -%>
<%= content_for :youarehere do -%>
	<%= render :partial => "shared/breadcrumbs" %>
<% end -%>
<%= content_for :tags do -%>
	<%= render :partial => "tags" , :object => @page %>
<% end -%>
<%= content_for :pageactions do -%>
  <% if session[:user_id] && session[:user_id].is_editor -%>
  <span id="edit_this_page">
    | <%= link_to "Edit page", edit_path({ :path => params[:path] }) %>
  </span>
  <% end -%>
<% end -%>
<%= render :partial => "shared/content" , :object => @page %>
<p class="signature">
  <span class="author"><%= author_link(@page) %>,</span>
  <span class="lastmodified">last modified on <%= last_modified(@page) %></span>
</p>
<% if borg(:social_buttons)[:enabled] -%>
  <div id="socialbuttons_container"></div>
  <%= content_for :onload do -%>
    (function() {
      new Ajax.Updater('socialbuttons_container', '<%= socialbuttons_path :path => params[:path], :title => @page.title %>', {
        method: 'GET',
        evalScripts: true
      });
    })();
  <% end -%>
<% end -%>
<%= render :partial => "comments" , :object => @page.comments %>
