<h1>Create a new site entry</h1>
<%= form_tag create_path, :method => :get, :id => 'new_site_entry_form' do -%>
  Kind: 
  standard page <%= radio_button_tag 'kind', 'page', true %><br />
  Path: <%= text_field_tag 'path', @path, :class => "edit" %><br />
  <%= submit_tag 'Create entry', :class => "button" %>
<% end -%>
<%= content_for :onload do -%>
  (function() {
    $('new_site_entry_form').observe('submit', function() {
      $('new_site_entry_form').action = $('new_site_entry_form').action + '/' + $('path').value;
    });
  })();
<% end -%>
