<% content_for :youarehere do %>
	<p style="margin-top: 0">
		<%= image_tag "borg/youarehere.png" , :style => "float:left" %> You are here:
		<%= link_to "Home" , root_path %>
		<%= image_tag "borg/arrow.png" %>
		<%= link_to "Tags" , :controller => "tags" %>
		<%= image_tag "borg/arrow.png" %>
		<%= @tag %>
	</p>	
<% end %>
<% content_for :intro do %>
	<h1>Tag: <%= @tag %></h1>

	<p>The following articles match the tag <strong><%= @tag %></strong>:</p>
<% end %>
<% for page in @pages %>
	<%= render :partial => "shared/summary" , :object => page %>
<% end %>
<%= render :partial => "shared/nothing" if @pages.empty? %>
