<%= content_for :youarehere do %>
  <%= render :partial => "shared/breadcrumbs", :locals => {:crumbs => [["New page", new_path]]} %>
<% end %>
<h1>Create a new site entry</h1>
<%= form_tag create_path, :method => :get, :id => 'new_site_entry_form' do -%>
  <p class='new_site_entry_kind'>
    <label>Kind:</label>
    standard page <%= radio_button_tag 'kind', 'page', true %>
  </p>
  <p class='new_site_entry_path'>
    <label>Path:</label>
    <%= text_field_tag 'path', @path, :class => "edit" %>
  </p>
  <p>
    <%= submit_tag 'Create', :class => "button" %>
  </p>
<% end -%>
<%= content_for :onload do -%>
  (function() {
    $('new_site_entry_form').observe('submit', function() {
      $('new_site_entry_form').action = $('new_site_entry_form').action + '/' + $('path').value;
    });
  })();
<% end -%>
