<%= content_for :title do -%>
  Sitemap
<% end -%>

<h1>Sitemap and Blog archives</h1>
<p>
  This is the set of all <b>blog postings</b>:
</p>
<% @blog_years.keys.sort.reverse.each do |year| -%>
  <p>
  <span class="blog_archive"><%= year %></span> :
  <% @blog_years[year].keys.sort.each do |month| -%>
    <%= link_to Date::MONTHNAMES[month.to_i], blog_path(:year => year, :month => month) %> &nbsp;
  <% end -%>
  </p>
<% end -%>

<p>
  This is the list of all the other <b>site webpages</b>. Click on any link to navigate to the relevant page.
</p>
<p style="margin-left: 30px">
<% @sitemap.each do |node| -%>
  <% node.content[:depth].times do -%>
    <%= image_tag "borg/emptypixel.gif", :width => "16px" , :height => "1px" , :style => "float:left" %>
  <% end -%>
  - <%= link_to node.content[:name], node.content[:link_url] %><br clear="left" />
<% end -%>
</p>

