<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="<%= borg(:meta)[:description] %>" />
<meta name="Keywords" content="<%= borg(:meta)[:keywords] %>" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="<%= borg(:meta)[:author] %>" />
<meta name="Robots" content="<%= borg(:meta)[:robots] %>" />

<%= javascript_include_tag "prototype", "application" %>
<%= stylesheet_link_tag(borg(:css_template)) %>

<link rel="alternate" href="<%= url_for :controller => :list, :action => :blog, :format => :rss %>" type="application/rss+xml" title="Blog RSS" />
<link rel="alternate" href="<%= root_path + "comments.rss" %>" type="application/rss+xml" title="Comments RSS" />
<%= yield :head %>

<title><%= strip_tags(borg(:title)) %> :: <%= yield(:title) || "#{strip_tags(borg(:tagline))}" %></title>
	
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
		
	<!--header -->
	<div id="header">	
	
		<div id="header-links">
			<p>
			<%= render :partial => "shared/login" %> |
			<%= link_to "Contact", borg(:contact_url) %> |
			<%= link_to "Site Map", :controller => :sitemap, :action => :view %> |
			<%= image_tag "borg/feed.png" , :style => "vertical-align: middle" %>
			<%= link_to "Feed", :controller => :list, :action => :blog, :format => :rss %> |
			<%= link_to "Home" , root_path %>
			</p>
		</div>	
				
		<h1 id="logo-text"><a href="<%= url_for root_path %>"><%= borg :title %></a></h1>		
		<p id="slogan"><%= borg :tagline %></p>			
						
	</div>
		
	<!-- navigation -->	
	<div  id="menu">
		<%= render :partial => "shared/content" , :object => @toolbar %>
	</div>					
			
	<!-- content-wrap starts here -->
	<div id="content-wrap">
		
		<div id="main">
		  <div class="gboxtop"></div>
  		<div class="gbox">
		    <%= render :partial => "shared/translate" %>
			  <%= yield :youarehere %>
			  <% if flash[:error] %><p id="flash_error"><%= flash[:error] %></p><% end %>
			  <div class="gboxbottom"></div>
			</div>			
			<%= yield :intro %>
			<div class="left_articles">
        <%= yield %>
      </div>
		</div>
		
			
		<div id="sidebar">
			
			<div class="searchboxtop"></div>
			<div class="searchbox">			
  			<form action="http://www.google.com/search" class="searchform" method="get">
  				<p>
  				<input name="as_q" class="search textbox" type="text" />
          <input type="hidden" name="as_sitesearch" value="<%= borg(:search_domain) %>">
  				<input class="button" value="Search" type="submit" />
  				</p>			
  			</form>
			</div>
			
			<%= yield :tags %>
	
			<div class="boxtop"></div>
			<div class="box">
			  <h2>Sidebar Menu</h2>
			    <%= render :partial => "shared/content" , :object => @sidebar %>
			    <%= borg :google_chatback %>
			</div>
		</div>
				
	<!-- content-wrap ends here -->	
	</div>
					
	<!--footer starts here-->
	<div id="footer">
			
		<p>
		&copy; 2008-2009 <strong>Riccardo Govoni</strong> | 
		Design by: <a href="http://www.styleshout.com/">styleshout</a>,
		<a href="http://www.solucija.com">solucija</a> | 
		Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | 
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
		<%= yield :footer %>  		
   	</p>
				
	</div>	

<!-- wrap ends here -->
</div>

<%= render(:partial => "shared/urchin") %>
</body>
</html>
