<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "shared/layout/head" %>
</head>
<body>
<div id="global-wrap">
  <div id="header"> 
    <%= render :partial => "shared/layout/siteactions" %>
    <%= render :partial => "shared/layout/logo" %>   
  </div>

  <div id="toolbar">
    <%= render :partial => "shared/content" , :object => @toolbar %>
  </div>

  <div id="content-wrap">
    <div id="main">
      <%= render :partial => "shared/layout/messagebar" %>

      <div class="intro">
        <%= yield :intro %>
      </div>
      <div class="left_articles">
        <%= yield %>
      </div>
    </div>

    <div id="secondary-content">
      <%= render :partial => "shared/layout/search" %>
      <%= yield :tags %>

      <% if @show_sidebar || borg(:google_translate)[:enabled] || !borg(:google_chatback).empty? -%>
        <div class="boxtop"></div>
        <div class="box">
          <% if @show_sidebar %>
            <%= render :partial => "shared/content" , :object => @sidebar %>
          <% end %>
          <%= raw borg :google_chatback %>
        
          <% if borg(:google_translate)[:enabled] -%>
            <div id="google_translate_element" style="display:block"></div>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>
  <%= render :partial => "shared/layout/footer" %>
</div>
<%= render(:partial => "shared/onloadjavascript") %>
<%= render(:partial => "shared/urchin") %>
</body>
</html>
