<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "shared/layout/head" %>
</head>
<body class="<%= @iphone ? 'iphone' : @android ? 'android' : '' %>">
<div id="global-wrap">
  <div id="header"> 
    <%= render :partial => "shared/layout/logo" %>
  </div>

  <div  id="toolbar">
    <%= render :partial => "shared/content" , :object => @toolbar %>
  </div>
  <%= render :partial => "shared/layout/search" %>

  <div id="content-wrap">
    <div id="main">
      <%= render :partial => "shared/layout/messagebar" %>

      <%= yield :intro %>
      <div class="left_articles">
        <%= yield %>
      </div>
    </div>

    <div id="secondary-content">
      <%= yield :tags %>
  
      <% if @show_sidebar %>
        <div class="boxtop"></div>
        <div class="box">
          <%= render :partial => "shared/content" , :object => @sidebar %>
        </div>
      <% end %>
      
      <% if borg(:google_translate)[:enabled] -%>
        <div id="google_translate_element" style="display:block"></div>
      <% end -%>      
    </div>
  </div>
  <%= render :partial => "shared/layout/siteactions" %>  
  <%= render :partial => "shared/layout/footer" %>
</div>
<%= content_for :onload do -%>
  borg.updateOrientation();
  Event.observe(window, 'load', borg.updateOrientation);
  <% if @android -%>
    Event.observe(window, 'resize', borg.updateOrientation);
  <% elsif @iphone -%>
    Event.observe(window, 'orientationchange', borg.updateOrientation);
  <% end -%>
<% end -%>
<%= render(:partial => "shared/onloadjavascript") %>
<%= render(:partial => "shared/urchin") %>
</body>
</html>
